form {
  display: flex;
  flex-direction: column;

  border: 1px solid black;
  border-radius: 10px;
  padding: 10px 10px;
  margin-top: 20px;
  width: 100%;
}

.buttons {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.buttons button {
  border: 1px solid black;
  border-radius: 5px;
  padding: 4px 8px;
  color: white;
  width: 100px;
  margin-bottom: 10px;
  flex: 1;
}

.buttons button:first-child {
  margin-right: 20px;
}

.buttons .reject {
  background: red;
}

.buttons .approve {
  background: green;
}

textarea {
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px;
}
