.tabs {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 25px;
}

.tabs button {
  color: blue;
  margin-right: 25px;
  width: 200px;
  border: 0;
}

.page {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.cardPage {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
